swagger: "2.0"
info:
  description: "This is a simple service to submit you java project to analyse dead code using SciTool."
  version: 1.0.0
  title: Swagger Dead Code Analizer YAML
  termsOfService: "http://dead.io/terms/"
  contact:
    email: "lahiru.karunatilake@aurea.com"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "webserver.devfactory.com:15560"
basePath: /v1
tags:
  - name: repository
    description: Everything about your Project Repo's Dead Code
schemes:
  - http
paths:
  /repository:
    post:
      tags:
        - repository
      summary: Add a new repository to detect dead code
      x-swagger-router-controller: RepositoryController
      description: ""
      operationId: addRepo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Repository object that needs to be added to the analyse
          required: true
          schema:
            $ref: "#/definitions/RepositoryBase"
      responses:
        "201":
          description: Successful operation
          schema:
            $ref: "#/definitions/Repository"
        "400":
          description: Bad request
        "405":
          description: Invalid input
  /repository/all:
    get:
      tags:
        - repository
      summary: Finds all repositories
      x-swagger-router-controller: RepositoryController
      description: ""
      operationId: findRepositories
      produces:
        - application/json
      responses:
        "200":
          description: Successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/Repository"
        "400":
          description: Bad request
        "404":
          description: Repositories not found
  "/repository/{repositoryId}":
    get:
      tags:
        - repository
      summary: Find repository dead code analysis by ID
      x-swagger-router-controller: RepositoryController
      description: Returns a dead code analysis
      operationId: getRepoDeadCodeByID
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: repositoryId
          in: path
          description: ID of repository to return
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Repository"
        "400":
          description: Bad request
        "404":
          description: Repository not found
    delete:
      tags:
        - repository
      summary: Delete repository by ID
      x-swagger-router-controller: RepositoryController
      description: Returns a dead code analysis
      operationId: removeRepo
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: repositoryId
          in: path
          description: ID of repository to return
          required: true
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Bad request
        "404":
          description: Repository not found
definitions:
  RepositoryBase:
    required:
      - url
    properties:
      url:
        type: string
        example: https://github.com/owner/project
  Repository:
    required:
      - url
    properties:
      id:
        type: string
      deadCode:
        type: array
        items:
          $ref: "#/definitions/DeadCode"
      url:
        type: string
        example: https://github.com/owner/project
      status:
        type: string
        description: Repository status
        enum:
          - pending
          - preparing
          - analysing
          - completed
          - failed
      created:
        type: string
        format: date-time
      preparedOn:
        type: string
        format: date-time
      completedOn:
        type: string
        format: date-time
  DeadCode:
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      globalVariables:
        type: array
        items:
          $ref: "#/definitions/GlobalVariable"     
      functions:
        type: array
        items:
          $ref: "#/definitions/Function"           
  GlobalVariable:
    properties:
      name:
        type: string
      lineNo:
        type: integer
        format: int64         
      columnNo:
        type: integer
        format: int64     
  Function:
    properties:
      name:
        type: string
      lineNo:
        type: integer
        format: int64         
      columnNo:
        type: integer
        format: int64      
      parameters:
        type: array
        items:
          $ref: "#/definitions/FunctionParameter"     
      variables:
        type: array
        items:
          $ref: "#/definitions/LocalVariable"            
  FunctionParameter:
    properties:
      name:
        type: string
      lineNo:
        type: integer
        format: int64         
      columnNo:
        type: integer
        format: int64                  
  LocalVariable:
    properties:
      name:
        type: string
      lineNo:
        type: integer
        format: int64         
      columnNo:
        type: integer
        format: int64                  
externalDocs:
  description: Find out more about SciTool
  url: "https://scitools.com/"
