swagger: "2.0"
info:
  description: "This is a simple service to submit you java project to analyse dead code using SciTool."
  version: 1.0.0
  title: Swagger Dead Code Analizer YAML
  termsOfService: "http://dead.io/terms/"
  contact:
    email: "lahiru.karunatilake@aurea.com"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "webserver.devfactory.com:15560"
#host: "localhost:8080"
basePath: /v1
tags:
  - name: repository
    description: Everything about your Project Repo's Dead Code
schemes:
  - http
paths:
  /repository:
    post:
      tags:
        - repository
      summary: Add a new repository to detect dead code
      x-swagger-router-controller: RepositoryController
      description: ""
      operationId: addRepo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Repository object that needs to be added to the analyse
          required: true
          schema:
            $ref: "#/definitions/RepositoryBase"
      responses:
        "201":
          description: Successful operation
          schema:
            $ref: "#/definitions/Repository"
        "409":
          description: Repository exists. Delete the current repository (id provided in response) to add a new version of the repository.
          schema:
            $ref: "#/definitions/Repository"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
        "405":
          description: Invalid input
          schema:
            $ref: "#/definitions/ErrorResponse"
#      security:
#        - api_key: 
  /repository/all:
    get:
      tags:
        - repository
      summary: Finds all repositories
      x-swagger-router-controller: RepositoryController
      description: ""
      operationId: findRepositories
      produces:
        - application/json
      responses:
        "200":
          description: Successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/Repository"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: Repositories not found
          schema:
            $ref: "#/definitions/ErrorResponse"
  "/repository/{repositoryId}":
    get:
      tags:
        - repository
      summary: Find repository dead code analysis by ID
      x-swagger-router-controller: RepositoryController
      description: Returns a dead code analysis
      operationId: getRepoDeadCodeByID
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: repositoryId
          in: path
          description: ID of repository to return
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Repository"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: Repository not found
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - repository
      summary: Delete repository by ID
      x-swagger-router-controller: RepositoryController
      description: Returns a dead code analysis
      operationId: removeRepo
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: repositoryId
          in: path
          description: ID of repository to return
          required: true
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: Repository not found
          schema:
            $ref: "#/definitions/ErrorResponse"
#securityDefinitions:
#  api_key:
#    type: apiKey
#    name: api_key
#    in: header
definitions:
  RepositoryBase:
    x-swagger-router-model: lk.devfactory.model.RepositoryBase
    required:
      - url
    properties:
      url:
        type: string
        example: https://github.com/owner/project
  Repository:
    x-swagger-router-model: lk.devfactory.model.Repository
    required:
      - url
    properties:
      id:
        type: string
        example: e23406df-f980-4ad0-8193-ea61484c5532
      classes:
        type: array
        items:
          $ref: "#/definitions/Clazz"
      url:
        type: string
        example: https://github.com/owner/project
      status:
        type: string
        description: Repository status
        example: completed
        enum:
          - pending
          - preparing
          - analysing
          - completed
          - failed
      created:
        type: string
        format: date-time
      preparedToAnalyseAt:
        type: string
        format: date-time
      completedAt:
        type: string
        format: date-time
  Clazz:
    x-swagger-router-model: lk.devfactory.model.Clazz
    properties:
      name:
        type: string
        example: org.apache.commons.io.StringUtils
      globalVariables:
        type: array
        items:
          $ref: "#/definitions/GlobalVariable"     
      functions:
        type: array
        items:
          $ref: "#/definitions/Function"      
      parameters:
        type: array
        description: Function parameters
        items:
          $ref: "#/definitions/FunctionParameter"     
      variables:
        type: array
        description: Function local variables
        items:
          $ref: "#/definitions/LocalVariable"       
  GlobalVariable:
    x-swagger-router-model: lk.devfactory.model.GlobalVariable
    properties:
      name:
        type: string
        example: org.apache.commons.io.StringUtils.isEmpty
      lineNo:
        type: integer
        format: int64 
        example: 5        
      columnNo:
        type: integer
        format: int64    
        example: 5 
  Function:
    x-swagger-router-model: lk.devfactory.model.Function
    properties:
      name:
        type: string
        example: org.apache.commons.io.StringUtils.compare
      lineNo:
        type: integer
        format: int64        
        example: 10
      columnNo:
        type: integer
        format: int64        
        example: 20       
  FunctionParameter:
    x-swagger-router-model: lk.devfactory.model.FunctionParameter
    properties:
      name:
        type: string
        example: org.apache.commons.io.StringUtils.compare.nullIsLess
      lineNo:
        type: integer
        format: int64       
        example: 10 
      columnNo:
        type: integer
        format: int64     
        example: 30             
  LocalVariable:
    x-swagger-router-model: lk.devfactory.model.LocalVariable
    properties:
      name:
        type: string
        example: org.apache.commons.io.StringUtils.empty
      lineNo:
        type: integer
        format: int64 
        example: 12       
      columnNo:
        type: integer
        format: int64
        example: 4
  ErrorResponse:
    properties:
      code:
        type: string
        example: http status code
      message:
        type: string  
        example: error message                
externalDocs:
  description: Find out more about SciTool
  url: "https://scitools.com/"
